.link {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.img {
  height: 50px;
  width: 50px;
}

.languageItem {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 30px;
}
